<div>
	<form novalidate="novalidate" name="frmUsuario">
		<div>
			<div>
				<label>Usuário:</label>
				<input type="text" name="txtUsuario" ng-model="usuario.nome" ng-minlength="5" ng-maxlength="10" required="required" />
				<span ng-show="frmUsuario.txtUsuario.$error.required && frmUsuario.txtUsuario.$dirty">Campo nome é obrigatório.</span>
			</div>
			
			<div>
				<label>Senha:</label>
				<input type="password" name="txtSenha" ng-model="usuario.senha" ng-maxlength="10" required="required" />
				<span ng-show="frmUsuario.txtSenha.$error.required && frmUsuario.txtSenha.$dirty">Campo senha é obrigatório.</span>
			</div>
			
			<input type="button" value="salvar" ng-click="salvarUsuario()" ng-disabled="frmUsuario.$invalid"/>
			<input type="button" value="cancelar" ng-click="cancelarUsuario()" ng-disabled="frmUsuario.$invalid"/>	
		</div>
	</form>
</div>